h1 {
    font-weight: bolder;
    font-size: 5em;
    text-align: center;
    color: #f5bd1f;
    text-shadow: 0px 0px 20px #FFD93D;
    /* other shades of yellow from dark to lightest:
    color:#f5bd1f;
    color:#FFD93D;
    color:#FFE863;
    */
}
body {
    background-color:#47297B;
    border: 30px solid #5D2689;
    border-radius: 60px;
    box-shadow: 0px 0px 30px 20px #8736AA;
    padding: 24.5vh;
    /* other shades of purple from dark to lightest:color: 
    color:#47297B;
    color:#5D2689;
    color:#8736AA;
    */
}
button:hover {
    color: #5D2689;
    text-shadow: 0px 0px 3px #8736AA;
    box-shadow: 0px 0px 20px #FFD93D;
    background-color:#FFD93D ;
    border: 5px inset #f5bd1f;
    transition: 0.5s;

}
.generateButton {
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
button {
    margin-top: 2em;
    height: 5em;
    width: 10em;
    border-radius: 8px;
    border: 5px outset #8736AA;
    box-shadow:0px 0px 5px #5D2689;
    background-color: #5D2689;
    color: #f5bd1f;
    text-shadow: 0px 0px 3px #FFD93D;
    font-size: 1.2em;
    font-weight: 700;
    transition: 0.5s;
}

.userInputs {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5em;
    column-gap: 5em;

}
#Minimum {
    width: 12em;
    text-align: center;
    margin-right: 1em;
}
#Maximum {
    width: 12em;
    text-align: center;
    margin-left: 1em;
}